<!--
  <h2>Disciplinas disponíveis:</h2>
  <hr>
  
  <dl>
    @for (disiciplina of disciplinas; track $index){
      <dt (click)="selecionar(disciplina)">
        <span [class.selecionado]="selecionado?.codigo==disciplina.codigo">{{disciplina.codigo}}</span>
        
        <nav>
          <button (click)="excluir(disciplina); $event.stopPropagation()">Excluir</button>
          
          <button (click)="editar(disciplina); $event.stopPropagation()">Editar</button>
        </nav>
        
        @if (selecionado?.codigo==disciplina.codigo){
          <span>{{disciplina.nome}}</span>
        }
      </dt>
    }
  </dl>
  -->
